/*  */
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    /* background-color: coral;  */
    /* Larghezza e altezza fisse */
    width: 100vw;
    height: 100vh;
    /* Overflow dei componenti */
    overflow-y: auto;
    overflow-x: hidden;
}

/* Regola generale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile della scrollbar - Per chrome */

/* width of the entire scrollbar */
#app::-webkit-scrollbar {
    width: 10px;  
}
/* color of the tracking area */
#app::-webkit-scrollbar-track {
    background: #f7f7f7;      
}

#app::-webkit-scrollbar-thumb {
    background-color: #1185b3;
    border-radius: 15px;       /* roundness of the scroll thumb */
    border: 0.5px solid #ffffff;  /* creates padding around scroll thumb */
}