/*#region Macro Componenti del footer */
.upper_footer {
    width: 100%;
    height: 240px;
    background-color: $upperfooter-bg-color;
    color: $white-color;
}
.under_footer {
    width: 100%;
    height: 90px;
    background-color: $underfooter-bg-color;
    color: $underfooter-copy-color;
    font-size: 0.9rem;
}
/*#endregion */

/*#region Logo del footer */
.logo_footer {
    width: 38%;
}
/*#endregion */

/*#region Recent Post */
.foot_lists {
    list-style: none;
    line-height: 2.5rem;
    text-align: left;
    font-size: 0.85rem;
    li {
        color: $upperfooter-list-color;
    }
}
.rec_title {
    font-family: 'Times New Roman', Times, serif;
}

/*#endregion */

/*#region Services */
.serv_title {
    font-family: 'Times New Roman', Times, serif;
}

.serv_lists {
    list-style: none;
    line-height: 2.5rem;
    text-align: left;
    font-size: 0.85rem;
    li {
        color: $upperfooter-list-color;
        text-transform: uppercase;
    }
}
/*#endregion */

/*#region Latest Twitter  */
.twit {
    transform: scale(180%);
    color: cornflowerblue;
}
/*#endregion  */

/*#region Icons brands */
.list_brands {
    list-style: none;
    /* List Item */
    a {
        color: inherit;
        text-decoration: none;
        padding: 0.6rem 0.8rem 0.6rem 0.8rem;
        font-size: 1.1rem;
        background-color: $underfooter-icons-bg-color;
        color: $underfooter-icons-color;
        border-radius: 100%
    }
}


/*#endregion */