/*#region Site Footer */
.upper_footer {
    width: 100%;
    height: 240px;
    background-color: $Mandys-pink-color;
}

.under_footer {
    width: 100%;
    height: 90px;
    background-color: $Dusty-gray-color;
}

/*#endregion */