/*#region Container dell'Main */

/* Altezze e larghezze fisse - Main */
.partner_site {
    width: 100%;
    height: 120px;
    background-color: $partner-bg-color;
}
.cloud_finance {
    width: 100%; 
    height: 580px;
    background-color: $cloud-finance-bg-color;   
}
.spec_services {
    width: 100%;
    height: 720px;
    background-color: $Speciality-services-bg-color;
}
.communities {
    width: 100%;
    height: 500px;    
}
.feedback {
    width: 100%;
    height: 250px; 
    background-color: $feedback-bg-color; 
}
.cards_feed {
    width: 100%;
    height: 420px;
    background-color: $cloud-finance-bg-color;  
}
.cta_site {
    width: 100%;
    height: 400px;
}
/*#endregion */

/*#region Cloud Base Finance*/
/* Cloud Base Finance */
.cloud_desc {
    text-align: left;
}
.col-12 {
    p {
        color: rgb(131, 130, 130);
    }
}

/* Classe relativa alla linea del titolo */
.title_cloud {
        font-family: 'Times New Roman', Times, serif;
        font-size: 36px;
        position: relative    
}
.title_cloud:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 30%;
    border-bottom:2px solid black;
}  

.btn_contact {
    border-radius: 1.3rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;  
    text-transform: uppercase;  
    font-size: 0.7rem;
    background-color: $navbar-static-btn-bg;
    border-color: $navbar-static-btn-bg;
    font-weight: 700;
}

/*#endregion */

/*#region Speciality services */

/* Speciality services */
.h_40 {
    height: 40%;
}

.title_specialty {
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    position: relative    
}
.title_specialty:before {
    content: "";
    position: absolute;
    left: 30%;
    bottom: 0;
    /* height: 1px; */
    width: 35%;
    border-bottom:2px solid black;
}  

.h_60 {
    height: 60%;
}
.h_10 {
    height: 10%;
}
.h_30 {
    height: 30%;
}
.product_service_card {
    background-color: $white-color;
}
/* Main title delle cards */
.col-12 > h5{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
}
/* Testo lorem delle cards */
.col-10 > span {
    font-size: 0.9rem;
    color:rgb(131, 130, 130);;
}
/* Aspetto icone */
.big_icons {
    width: 50px;
    height: 50px;
    aspect-ratio: 1 / 1;
    color: rgb(26, 69, 150);
}
/* Button learn more */
.btn_services {
    border-radius: 0 !important;
    padding-left: 1.3rem;
    padding-right: 1.3rem;   
    background-color: $navbar-static-btn-bg;
    border-color: $navbar-static-btn-bg;
}
/*#endregion */

/*#region FeedbackComponent */
.title_feedback {
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    position: relative    
}
.title_feedback:before {
    content: "";
    position: absolute;
    left: 40%;
    bottom: 0;
    /* height: 1px; */
    width: 20%;
    border-bottom:2px solid black;
}  
/*#endregion */

/*#region Client Feedback  */

/* Client Feedback - bordo superiore */
.bordo_feed_up {
    border-right: 0.05px solid rgb(214, 214, 214);
    border-bottom: 0.05px solid rgb(214, 214, 214);
}

.bordo_feed_down {
    border-right: 0.05px solid rgb(214, 214, 214);
}

.lofeed_text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}

.lofeed_title {
    font-size: 0.9rem;
    font-weight: 700;
}
.lofeed_role {
    font-size: 0.8rem;
    color: rgb(168, 164, 164);
}

/*#endregion */

/*#region Our Communities */

/* Our Communities */
.col-4 {   
    img {
    width: 100%;
    height: 100%;
    }
}
.col-4 {
    /* titolo delle percentuali our communities */
    h1 {
        color: $our-common-title-color;
    }
    /* Descrizione delle percentuali */
    span {
        font-size: 0.85rem;
    }
}
/* Comunities numbers */
.com_numbers {
    background-color: $white-color;   
}
/* Dati nel communities image */
.abs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Classe totale del communities data */
.communities_data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* Descrizione */
    span {
        color: $white-color;
        font-size: 0.85rem;
    }
    /* Titolo */
    h2 {
        color: $white-color;
        font-family: 'Times New Roman', Times, serif;
    }
}
/*#endregion */

/*#region Call To Action */
.rtt_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Classe totale dei data in CTA */
.CTA_data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Descrizione */
    span {
        color: rgb(168, 164, 164);
        font-size: 1.1rem;
        font-family: 'Times New Roman', Times, serif;
    }
    /* Titolo */
    h2 {
        color: $white-color;
        font-family: 'Times New Roman', Times, serif;
        font-size: 52px;
    }
    .btn {
        font-size: 1rem !important;
    }
}


/*#endregion */