/*#region Container dell'Main */

/* Altezze e larghezze fisse - Main */
.partner_site {
    width: 100%;
    height: 120px;
    background-color: $partner-bg-color;
}
.cloud_finance {
    width: 100%; 
    height: 580px;
    background-color: $cloud-finance-bg-color;   
}
.spec_services {
    width: 100%;
    height: 720px;
    background-color: $Speciality-services-bg-color;
}
.communities {
    width: 100%;
    height: 500px;    
}
.feedback {
    width: 100%;
    height: 250px; 
    background-color: $feedback-bg-color; 
}
.cards_feed {
    width: 100%;
    height: 420px;
    background-color: $cloud-finance-bg-color;  
}
.cta_site {
    width: 100%;
    height: 400px;
    background-color: $Viking-color;
}
/*#endregion */

/*#region Cloud Base Finance*/
/* Cloud Base Finance */
.cloud_desc {
    text-align: left;
}
.col-12 {
    p {
        color: rgb(131, 130, 130);
    }
}

/* Classe relativa alla linea del titolo */
.title_cloud {
        font-family: 'Times New Roman', Times, serif;
        font-size: 36px;
        position: relative    
}
.title_cloud:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 30%;
    border-bottom:2px solid black;
}  

.btn_contact {
    border-radius: 1.3rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;  
    text-transform: uppercase;  
    font-size: 0.7rem;
    background-color: $navbar-static-btn-bg;
    border-color: $navbar-static-btn-bg;
    font-weight: 700;
}

/*#endregion */


/*#region Speciality services */

/* Speciality services */
.h_40 {
    height: 40%;
}

.title_specialty {
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    position: relative    
}
.title_specialty:before {
    content: "";
    position: absolute;
    left: 30%;
    bottom: 0;
    /* height: 1px; */
    width: 35%;
    border-bottom:2px solid black;
}  



.h_60 {
    height: 60%;
}
.h_10 {
    height: 10%;
}
.h_30 {
    height: 30%;
}
.product_service_card {
    background-color: $white-color;
}


/*#endregion */






/* Our Communities */
.col-5 {   
    img {
    width: 100%;
    height: 100%;
    }
}
.col-4 {
    /* titolo delle percentuali our communities */
    h1 {
        color: $our-common-title-color;
    }
    /* Descrizione delle percentuali */
    span {
        font-size: 0.85rem;
    }
}
/* Comunities numbers */
.com_numbers {
    background-color: $white-color;   
}

/* Client Feedback */

.bordo_feedback {
    border: 0.1px solid rgb(133, 130, 130);
}

.rtt_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}