/*#region Container dell'Main */

/* Altezze e larghezze fisse - Main */
.partner_site {
    width: 100%;
    height: 120px;
    background-color: $partner-bg-color;
}
.cloud_finance {
    width: 100%; 
    height: 580px;
    background-color: $cloud-finance-bg-color;   
}
.spec_services {
    width: 100%;
    height: 720px;
    background-color: $Viking-color;
}
.communities {
    width: 100%;
    height: 500px; 
    background-color: $Mandys-pink-color;     
}
.feedback {
    width: 100%;
    height: 250px; 
    background-color: $San-marino-color; 
}
.cards_feed {
    width: 100%;
    height: 420px;
    background-color: $Steel-blue-color; 
}
.cta_site {
    width: 100%;
    height: 400px;
    background-color: $Viking-color;
}

/*#endregion */