/* Qui palette colori figma verificati  */

/* Color Cube */
$white-color : rgba(255, 255, 255, 1);
$jumbotron-bg-color: rgba(22, 41, 69, 1);
$partner-bg-color : rgba(249, 249, 249, 1);
$Speciality-services-bg-color: rgba(249, 249, 249, 1);
$cloud-finance-bg-color: rgba(255, 255, 255, 1);
$our-common-title-color: rgba(74, 117, 178, 1);
$feedback-bg-color: rgba(249, 249, 249, 1);

/* Qui palette colori figma/cartella  */

$Baltic-sea-color : rgba(28, 27, 33, 1);
$Viking-color : rgba(93, 222, 204, 1);
$San-marino-color : rgba(66, 110, 173, 1);
$Mandys-pink-color : rgba(238, 175, 170, 1);
$Cyan-color : rgba(0, 221, 255, 1);

/* Median Cut */
$Stone-color: rgba(27, 48, 75, 1);
$Black-haze-color: rgba(246, 247, 247, 1);
$Steel-blue-color: rgba(72, 118, 181, 1);
$Dusty-gray-color: rgba(148, 148, 148, 1);

/* Material Design */
$Lynch-color: rgba(101, 123, 146, 1);
$Nile-Blue-color: rgba(26, 49, 84, 1);
$Shark-color: rgba(25, 25, 31, 1);
$Half-baked-color: rgba(134, 197, 202, 1);

/* bordo visibile per vedere blocchi */
.bordo {
    border: 2px solid black;
}

/* Costante display flex che si ripete */
.flex_cent {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex_bet {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Properties dei container */
.cont_cent {
    display: flex;
    justify-content: center;
    padding: 0;
}








